@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--lilas);
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--lilas) url(../img/metal.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 250px;
    
}

section#login > div#formulario, div#entrada{
    padding: 10px;
}

section#login > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > h2 {
    font-size: 18px;
}

section#login > div#formulario > p {
    font-size: 17px;
    text-align: justify;
}

div#entrada > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-5px);
}